/* General */

body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Info Graphic */

#info-graphic {
  /*visibility: hidden;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "dino1 dino2 dino3"
    "dino4 human dino5"
    "dino6 dino7 dino8";
  width: 95vw;
  height: 95vh;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  background-color: red;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}

.info-item:nth-child(1) {
  background: #709491f5;
}

.info-item:nth-child(2) {
  background: #956d97f5;
}

.info-item:nth-child(3) {
  background: #7a9a62f5;
}

.info-item:nth-child(4) {
  background: #009687f5;
}

.info-item:nth-child(5) {
  background: #b0b959f5;
}

.info-item:nth-child(6) {
  background: #e4bd87f5;
}

.info-item:nth-child(7) {
  background: #a084e2f5;
}

.info-item:nth-child(8) {
  background: #e387a3f5;
}

.info-item:nth-child(9) {
  background: #009687f5;
}

.info-image {
  display: flex;
  width: 25%;
  height: 25%;
  object-fit: cover;
  align-self: center;
}

.info-title {
  display: flex;
  align-self: center;
}

.infoFact {
  display: flex;
  align-self: center;
}


/*Form */
#comparison-form {
  margin: auto;
  width: 400px;
}

.form-item {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  margin: 5px 5px 0 0
}

.form-item-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: right;
  font-size: small;
}

.italic-item-title {
  font-style: italic;
}

.form-item-field {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: red;
}